@import '../../assets/scss/style.scss';

.services{
    margin-bottom: 50px;
}
.services--biezaca {
    background: red;
}
.services--renowacja{
    background: green;
}
.services--pakiety{
    background:lightblue;
}