@import '../../assets/scss/style.scss';

$border: 3px solid $goldColor;

.services{
    margin-bottom: 50px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    header {
        text-align: center;
    }
}
.services--biezaca {
    background-image: url(../../assets/images/pielegnacja.jpg);
}
.services--renowacja{
    background-image: url(../../assets/images/renowacja.jpg);
}
.services--pakiety{
    background-image: url(../../assets/images/pakiety.jpg);
}
.services__header {
    display: inline-block;
    text-align: left;
    font-size: 60px;
    margin: 60px auto 115px;
    padding: 0 20px;
    position: relative;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 70px;
        height: 70px;
    }
    &:before {
        top: -10px;
        left: 0;
        border-left: $border;
        border-top: $border;
    }
    &:after {
        bottom: -10px;
        right: 0;
        border-right: $border;
        border-bottom: $border;
    }
}

.services__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Media Queries*/
@media only screen and (max-width: 479px){
    
    .services__header {
        font-size: 40px;
        width: 80%;
        text-align: center;

        &:before,
        &:after {
            width: 50px;
            height: 50px;
        }
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .services__header {
        font-size: 40px;
    }
}
@media only screen and (max-width: 767px){
    .services--biezaca{
        background-position: 80% 50%;
    } 
    .services--renowacja{
        background-position: 88% 50%;
    } 
    .services--pakiety{
        background-position: 50% 50%;
    } 
    .services__content {
        justify-content: unset;
    }
}
@media only screen and (min-width: 768px) and (max-width: 980px){
    .services--pakiety{
        background-position: 75% 50%;
    } 
    .services__content {
        justify-content: unset;
    }
    .services__header {
        font-size: 50px;
    }
}
@media only screen and (max-width: 980px){
    .services{
        background-size: cover;
    }    
}