@import '../../assets/scss/style.scss';

$border: 3px solid $goldColor;
.header__wrapper {
    margin-bottom: 110px;
}
.header {
    text-align: center;
}
.header__title {
    display: inline-block;
    text-align: left;
    font-size: 70px;
    margin: 60px auto 80px;
    padding: 0 20px;
    margin-bottom: 60px; 
    position: relative;

    span {
        display: block;
        /* text-align: right; */
        margin-left: 150px;
    }

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;
    }
    &:before {
        top: -10px;
        left: 0;
        border-left: $border;
        border-top: $border;
    }
    &:after {
        bottom: -10px;
        right: 0;
        border-right: $border;
        border-bottom: $border;
    }
}

.header__descript{
    max-width: 515px;
    padding: 50px;
    color: #707070;
    font-size: 25px;
    background: #fff;
}

.header__descript--left{
    margin-left: 10%;
}

.header__descript--right{
    margin: 0 10% 0 auto;
}

/*Media Queries*/
@media only screen and (max-width: 479px){
    .header__wrapper {
        margin-bottom: 50px;
    }
    .header__title {
        font-size: 35px;

        &:before,
        &:after {
            width: 60px;
            height: 55px;
        }

        span {
            margin-left: 45px;
        }
    } 
    .header__descript {
        padding: 25px;
        font-size: 18px;
        margin: 0 auto;
    }
    .header__descript--left,
    .header__descript--right{
        margin: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .header__wrapper {
        margin-bottom: 100px;
    }
    .header__title {
        font-size: 50px;
        
        &:before,
        &:after {
            width: 60px;
            height: 55px;
        }

        span {
            margin-left: 90px;
        }
        
    }
    .header__descript {
        padding: 35px;
        font-size: 20px;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
    .header__title {
        font-size: 65px;
    }
}