$bgColor: #141521;
$goldColor: #FF9F00;

.container {
    max-width: 1440px;
    margin: 0 auto 30px;
    padding: 0 20px;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 120;
}
.Modal {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    padding: 20px;
    max-height: 80%;
    overflow: auto;
    background-color: #fff;
    color: #333;
    z-index:150;
    outline: none;
    transition: all 0.2s;
}
.closeModal {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: transparent;
    border:0;
    transition: all 0.2s;
}

