@import '../assets/scss/style.scss';

$border: 3px solid $goldColor;
.header__wrapper {
    margin-bottom: 130px;
}
.header {
    max-width: 1440px;
    margin: 0 auto 30px;
    padding: 0 20px;
    text-align: center;
}
.header__title {
    display: inline-block;
    text-align: left;
    font-size: 55px;
    margin: 70px auto 80px;
    padding: 0 20px;
    margin-bottom: 60px; 
    position: relative;
    line-height: 1.5;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 90px;
        height: 80px;
    }
    &:before {
        top: -10px;
        left: 0;
        border-left: $border;
        border-top: $border;
    }
    &:after {
        bottom: -10px;
        right: 0;
        border-right: $border;
        border-bottom: $border;
    }
}
.backLink {
    display: inline-block;
    margin: 0 auto 40px 20px; 
    font-size: 23px;
    font-weight: 500;
    color: $goldColor;
    text-decoration: none;
    padding: 5px;
    background: transparent;
    border: none;
    cursor: pointer;

    &::before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 25px;
        margin-right: 5px;
        background-image: url(../assets/images/arrow-left.svg);
        background-position: left;
        background-repeat: no-repeat;
        vertical-align: middle;
    }
}
.realization{
    width: 80%;
    position: relative;
    margin-bottom: 60px;
    margin: 0 auto 60px 0;
}

.realization__descript {
    right: 0;
    padding: 40px 40px 40px 3.5%;
}

.gallery {
    width: 67%;
    z-index: 10;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    float: left;
}
.gallery__item {
    max-width: 260px;
    width: 25%;
    outline-color: $goldColor;
    cursor: pointer;
    border: 1px solid $goldColor;
}
.gallery__item--1 {
    box-shadow: 0 0 20px $bgColor;
    max-width: 1050px;
    width: 100%;
}
.gallery__item--2, .gallery__item--3, .gallery__item--4 {
    border-right: 0;
    border-top: 0;
} 
.gallery__item--5 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 155px;
    padding: 10px;
    text-align: center;
    border: 1px solid $goldColor;
    border-top: 0;
    color: $bgColor;
    background: rgba(255,255,255,1);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    outline: none;

    &:hover {
        text-decoration: underline;
    }
}

.realization__descript {
    display: inline-block;
    margin-top: 70px;
    margin-left: -24px;
    background: #fff;
    color: #333;
    width: 34.5%;
    font-size: 16px;
    color: #707070;

    p {
        margin-bottom: 6px;
    }
}
.realization__header {
    position: relative;
    font-size: 30px;
    margin-bottom: 30px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -8px;
        width: 45px;
        border-bottom: 2px solid $goldColor;
    }
}

.realization__content {
    ul {
        position: relative;
        list-style: none;
        margin: 0;
        padding-left: 1.45rem;
    }

    li {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: -25px;
            width: 20px;
            height: 20px;
            background-image: url(../assets/images/list_item.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    a {
        font-weight: 600;
        color: #333;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

/*Media Queries*/
@media only screen and (max-width: 479px) {
    .header__wrapper {
        margin-bottom: 80px;
    }
    .header__title {
        font-size: 35px;
        margin: 50px auto 40px;

        &:before,
        &:after {
            width: 55px;
            height: 55px;
        }

    }
    .backLink {
        font-size: 18px;
        margin: 0 auto 20px 20px;
    }
    .gallery__item--5 {
        font-size: 12px !important;
        padding: 0;
    }
    .realization__descript {
        margin: -15px auto 0;
        padding: 40px 20px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .header__wrapper {
        margin-bottom: 100px;
    }
    .header__title {
        font-size: 45px;
        &:before,
        &:after {
            width: 60px;
            height: 55px;
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
    .header__title {
        font-size: 55px;
    }
}
@media only screen and (max-width: 980px) {
    .gallery, .realization__descript {
        width: 100%;
    }
    .realization {
        padding: 0 20px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1200px) {
    .realization__descript {
        padding: 50px 40px 40px;
        margin: -24px auto 0;
    }
    
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .gallery {
        width: 80%;
    }
    .realization__descript {
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {
    .gallery {
        float: none;
        margin: 0 auto;
        justify-content: center;
    }
    .gallery__item--2, .gallery__item--3, .gallery__item--4 {
        box-shadow: 0px 0px 20px #141521;
    }
    .gallery__item--5 {
        font-size: 18px;
        box-shadow: 0px 0px 20px #141521;
    }
    .realization {
        width: 100%;
    }
    .realization__descript {
        position: relative;
        display: block;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1450px) {
    .realization__descript {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1450px) {
    .realization__header {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1151px) and (max-width: 1660px) {
    .realization {
        width: 95%;
    }
}