@import '../../assets/scss/style.scss';

footer {
    padding: 30px 0;
    border-top: 1px solid $goldColor;
}

.contact-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.contact-data__item {
    width: 33.33333%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-data__img {
    max-height: 50px;
    margin-right: 25px;
}
.contact-data__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;

    &:hover {  text-decoration: underline; }
}

.hours {
    text-align: center;
    margin-bottom: 30px;
}
.copyright {
    text-align: center;
    font-size: 12px;
}
.copyright__paragraph { margin-bottom: 20px; }
.created { margin-bottom: 0; }
.created__link { color: #fff; }

/*Media Queries*/
@media only screen and (max-width: 479px){
    .contact-data__item {
        width: 100%;
        margin-bottom: 20px;
    }
    .contact-data__img {
        max-height: 35px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 766px){
    .contact-data__item {
        width: 50%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 980px){
    .contact-data__link {
        flex-direction: column;
        text-align: center;
    }
    .contact-data__img {
        margin: 0 0 10px;
    }
}