@import '../../../assets/scss/style.scss';
header {
    position: -webkit-sticky;
    position: sticky; top:0;
    background: $backgroundColor;
    border-bottom: 1px solid rgba(255, 255, 255,0.6);
    z-index: 100;

    .container {
        display: flex; 
        justify-content: center;
        margin: 0 auto;
    }
}
.header__wrapper {
    display: flex; 
    justify-content: space-around;
}
.header__wrapper-left,
.header__wrapper-right { width: calc(50% - 65px); }
.header__wrapper-right { align-items: center; }
.header__item {
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 0 20px;
    text-decoration: none;
    line-height: 55px;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;

    &:hover { border-color: #FF9F00; }
}
.header__item--icon {
    font-size: 0;
    width: 35px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;

    &:hover { border-color: transparent; }
}
.header__item--fb {
    background-image: url(../../../assets/images/fb.svg);
}
.header__item--insta{
    background-image: url(../../../assets/images/insta.svg);
}
.header__logo {
    position: relative;
    min-width: 130px;
    border: 0;
}
.header__img { position: absolute; }

.header__hamburgermenu {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}
.header__hamburgermenu-item {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 8px;
    transition: all 0.3s linear;
}
.header__hamburgermenu-item:last-child {
    margin-bottom: 0;
}

.header__hamburgermenu-active {
    .header__hamburgermenu-item:first-child {
        transform: rotate(45deg);
        margin: -4px;
    }
    .header__hamburgermenu-item:nth-child(2) {
        display: none;
    }
    .header__hamburgermenu-item:nth-child(3) {
        transform: rotate(-45deg);
    }
}
/*Media Queries*/
@media only screen and (max-width: 479px) {
    
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
}
@media only screen and (max-width: 767px) {
    
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
    
}

@media only screen and (max-width: 980px) {
    header .container { 
        justify-content: space-between; 
        align-items: center; 
    }
    .header__item {
        line-height: unset;
        padding: 0;
    }
    .header__wrapper-left, .header__wrapper-right { display: none; }
    .header__logo {
        min-width: unset;
    }
    .header__img { 
        position: relative; 
        max-height: 65px;
    }
    
}

@media only screen and (min-width: 981px) and (max-width: 1240px) {
    .header__item { padding: 0 15px; }
    .header__logo { padding: 0 20px; }
}

@media only screen and (max-width: 1240px) {
    
    
}    
