@import '../../assets/scss/style.scss';

.realization{
    width: 80%;
    position: relative;
    margin-bottom: 60px;
}
.realization--left {
    margin: 0 auto 60px 0;

    .realization__descript {
        right: 0;
        padding: 40px 40px 40px 3.5%;
    }
}
.realization--right{
    margin: 0 0 60px auto;

    .gallery {
        margin: 0 0 0 auto;
        justify-content: flex-end;
    }
    .gallery__item--1 {
        order: 1;
    }
    .gallery__item--2 {
        order: 3;
    }
    .gallery__item--3 {
        order: 4;
    }
    .gallery__item--4 {
        order: 5;
    }
    .gallery__item--5 {
        order: 2;
    }
    .realization__descript {
        left: 0;
        padding: 40px 3.5% 40px 40px;
    }
}

.gallery {
    width: 67%;
    z-index: 10;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.gallery__item {
    max-width: 260px;
    width: 25%;
    outline-color: $goldColor;
    cursor: pointer;
}
.gallery__item--1 {
    box-shadow: 0 0 20px $bgColor;
    max-width: 1050px;
    width: 100%;
}
.gallery__item--5 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 155px;
    padding: 10px;
    text-align: center;
    border: 1px solid $goldColor;
    color: $bgColor;
    background: rgba(255,255,255,1);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    outline: none;

    &:hover {
        text-decoration: underline;
    }
}

.realization__descript {
    position: absolute;
    top: 70px;
    background: #fff;
    color: #333;
    width: 34.5%;
    font-size: 16px;
    color: #707070;

    p {
        margin-bottom: 6px;
    }
}
.realization__header {
    position: relative;
    font-size: 30px;
    margin-bottom: 30px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -8px;
        width: 45px;
        border-bottom: 2px solid $goldColor;
    }
}
.realization__list {
    position: relative;
    list-style: none;
    margin: 0;
    padding-left: 1.45rem;

    li {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: -25px;
            width: 20px;
            height: 20px;
            background-image: url(../../assets/images/list_item.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
      }
       
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $goldColor;
        outline: 1px solid slategrey;
        border-radius: 10px;
    }
}

/*Media Queries*/
@media only screen and (max-width: 480px) {
    .realization--left, .realization--right {
        margin-bottom: 30px;
    }

    .realization--right .realization__descript,
    .realization--left .realization__descript {
        padding: 15px !important;
        margin-top: 0 !important;
    }
    .gallery__item--5 {
        font-size: 12px !important;
        padding: 0;
    }
}

@media only screen and (max-width: 980px) {
    $realizationWidth: 100%;
    .gallery,.realization--right .realization__descript,.realization--left .realization__descript {
        width: $realizationWidth;
    }
    .realization {
        padding: 0 20px;
    }
    .realization__list {
        max-height: unset !important;
    }
}


@media only screen and (min-width: 980px) and (max-width: 1150px) {
    $realizationWidth: 80%;
    .gallery,.realization--right .realization__descript,.realization--left .realization__descript {
        width: $realizationWidth;
    }
}

@media only screen and (max-width: 1150px) {
    .gallery__item--5 {
        font-size: 18px;
    }
    .realization {
        width: 100%;
    }
    .realization__descript {
        position: relative;
        top: unset;
        right: unset;
    }
    .realization--right .realization__descript {
        padding: 45px 30px 30px;
        margin: -15px 0 0 auto;
    }
    .realization--left .realization__descript {
        padding: 45px 30px 30px;
        margin: -15px auto 0 0;
    }
}

@media only screen and (min-width: 1151px) and (max-width: 1450px) {
    .realization__descript {
        top: 30px;
    }
    .realization--left .realization__descript {
        padding: 30px 30px 30px 3.5%;
    }
    .realization--right .realization__descript {
        padding: 30px 3.5% 30px 30px;
    }
}

@media only screen and (max-width: 1450px) {
    .realization__header {
        font-size: 24px;
    }
    .realization__list {
        max-height: 320px;
        margin: 0;
        overflow: auto;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 1151px) and (max-width: 1660px) {
    .realization {
        width: 95%;
    }
}