@import '../../../assets/scss/style.scss';

.realizations {
    position: relative;
    
}
.realizations__header{
    position: absolute;
    width: 100%;
    height: 500px;
    top: 25%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}


.realizations__hexagon {
    position: relative;
    height: 345px;
    width: 300px;

    .realizations__center {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        $width: 300px;
        width: $width; 
        height: 173.21px;
        border-left: 3px solid $goldColor;
        border-right: 3px solid $goldColor;
        color: $bgColor;
        top: 86.6px;
        z-index: 10;
        backdrop-filter: blur(10px);

        h2 {
            margin: 0;
            font-size: 40px;
            text-align: center;
        }
    }

    .realizations__top,
    .realizations__bottom {
        content: "";
        position: absolute;
        z-index: 1;
        width: 212.13px;
        height: 212.13px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: inherit;
        left: 44px;
        backdrop-filter: blur(26px);
    }

    .realizations__top {
        top: -21px;
        border-top: solid 4.2426px $goldColor;
        border-right: solid 4.2426px $goldColor;
    }

    .realizations__bottom {
        bottom: -21px;
        border-bottom: solid 4.2426px $goldColor;
        border-left: solid 4.2426px $goldColor;
    }
}
.realizations__hexagon--small {
    height: 0;
    width: 3px;

    .realizations__center {
        width: 170px;
        height: 90px;
        margin: 0;
        top:0;

        a {
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            color: $bgColor;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .realizations__top,
    .realizations__bottom {
        width: 121px;
        height: 120px;
        left: 25px;
    }
    .realizations__top {
        top: -61px;
    }

    .realizations__bottom {
        bottom: -151px;
    }
}
.realizations__wrapper-box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
}

.realizations__text {
    margin: 0;
    font-size: 30px;
}

.realizations__item--one {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}

.realizations__item--two {
    grid-column: 6 / 11;
    grid-row: 1 / 2;
}

.realizations__item--three {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
}

.realizations__item--four {
    grid-column: 7 / 11;
    grid-row: 2 / 3;
}